.raccolte{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.raccolte-elenco{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}